alembic
argon2-cffi
asgiref
attrs
Babel
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
branca
bs4
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
debugpy
decorator
defusedxml
distlib
Django
docxcompose
docxtpl
dominate
entrypoints
exif
filelock
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
folium
fonttools
greenlet
idna
image
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
MouseInfo
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencage
opencv-python
packaging
pandocfilters
parso
pdftables-api
phonenumbers
pickleshare
Pillow
platformdirs
plum-py
prometheus-client
prompt-toolkit
psycopg2
PyAutoGUI
pycparser
pygame
PyGetWindow
Pygments
PyHTML
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
pyrsistent
PyScreeze
python-dateutil
python-docx
pytube
pytweening
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
Send2Trash
six
soupsieve
SQLAlchemy
sqlparse
terminado
testpath
tornado
traitlets
typing_extensions
tzdata
unicorn
urllib3
virtualenv
visitor
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
zipp
