<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrations</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>  
<body>
    <div class="container">
    <div class="reg-heading">
    <h1>Registrations</h1>
    </div>
    <table id="registration-table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Events Registered</th>
          
        </tr>
        {%for participant in data%}
        <td>{{participant.Name}}</td>
        <td>{{participant.Email}}</td>
        <td>{{participant.Phone_no}}</td>
        <td>{{participant.Events}}</td>
          
       {%endfor%}
        
      </table>
      
</div>
</body>
</html>